doctype html
html
  head
    title= `${title} | ${h.siteName}`
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel="stylesheet", href="/dist/typography.css")
    link(rel="stylesheet" href="/dist/style.css")
    body
    block content